---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Download: H - schisch – Klaus Wunderlich";
const description = "Hier kannst du dein gekauftes Arrangement herunterladen.";
---

<BaseLayout pageTitle={pageTitle} 
  description={description} 
  ogType="article"
  bodyAttributes={{
    "data-product-id": "HSCH-001",
    "data-price": "5.95"
  }}
>
  <h1>Dein Download</h1>

  <p>Danke für deinen Kauf! Hier kannst du dein Arrangement herunterladen.</p>

  <h2>Download</h2>

   <ul>
    <li>
      <a href="/downloads/H-schisch.pdf" download class="cta-button">
        🎵 H-schisch – Noten
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1kE06mwl3h21gmy3GHga8S3z4TJNZHfjh"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 H-schisch – Mastering mp3
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1WbcLoOL13bK6u7WkhxVeSMv8kMjrw2Ik"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 H-schisch – BackingTrack mp3
      </a>
    </li>
  </ul>

  <h2>Hinweise</h2>

  <ul>
    <li>Einmal gekauft – dauerhaft verfügbar</li>
    <li>Keine Abo-Falle</li>
    <li>Nur für dich persönlich lizenziert</li>
  </ul>

  <p>
    <a href="/kurse/musikbibliothek/" class="cta-button">
      Kurse zum selber lernen: Alle Lernmodule auf einen Blick
    </a>
  </p>

  <script src="/scripts/purchase.js" defer></script>

</BaseLayout>