---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Download: Sixteen Tons – Guitar Arrangement";
const description = "Hier kannst du dein gekauftes Arrangement herunterladen.";
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  ogType="article"
>

  <h1>Dein Download</h1>

  <p>
    Danke für deinen Kauf! Hier kannst du dein Arrangement herunterladen.
  </p>

  <h2>Download</h2>

  <ul>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1jHDv-8Em0LB3PudliVnO3mihlGY-K_CU"  
        class="cta-button">
          📄 Sixteen Tons – Guitar als PDF Download
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1ILg9XrAvt6Mtoe6svdcdKcRywpnEp3A8"  
        class="cta-button">
          📄 Sixteen Tons – Bass als PDF Download
      </a>
    </li>
  </ul>

  <h2>Hinweise</h2>

  <ul>
    <li>Einmal gekauft – dauerhaft verfügbar</li>
    <li>Keine Abo-Falle</li>
    <li>Nur für dich persönlich lizenziert</li>
  </ul>

</BaseLayout>