---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Download: Stairway To Heaven – Guitar Arrangement";
const description = "Hier kannst du dein gekauftes Arrangement herunterladen.";
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  ogType="article"
  bodyAttributes={{
    "data-product-id": "STH-001",
    "data-price": "8.95",
  }}
>
  <h1>Dein Download</h1>

  <p>Danke für deinen Kauf! Hier kannst du dein Arrangement herunterladen.</p>

  <h2>Download</h2>

  <ul>
    <li>
      <a
        href="https://drive.google.com/uc?export=download&id=1oXmm8mMOD--LOBfOjY6VrV7oorhGbi4D"
        class="cta-button"
        download
        class="cta-button"
      >
        📄 Stairway To Heaven Guitar
      </a>
    </li>
    <li>
      <a
        href="https://drive.google.com/uc?export=download&id=18n8HX7RbiYEDLbTQ0KEgACiBs6Vp7Qk6"
        class="cta-button"
        download
        class="cta-button"
      >
        📄 Stairway To Heaven Komplettes Arrangement als ZIP Download
      </a>
    </li>
  </ul>

  <h2>Hinweise</h2>

  <ul>
    <li>Einmal gekauft – dauerhaft verfügbar</li>
    <li>Keine Abo-Falle</li>
    <li>Nur für dich persönlich lizenziert</li>
  </ul>

  <script src="/scripts/purchase.js" defer></script>
</BaseLayout>
