---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Download: Take Good Care Of My Baby – Guitar Arrangement";
const description = "Hier kannst du dein gekauftes Arrangement herunterladen.";
---

<BaseLayout pageTitle={pageTitle} description={description} ogType="article">
  <h1>Dein Download</h1>

  <p>Danke für deinen Kauf! Hier kannst du dein Arrangement herunterladen.</p>

  <h2>Download</h2>

  <ul>
    <li>
      <a href="/downloads/Take_Good_Care.pdf" download class="cta-button">
        📄 Take Good Care Of My Baby – Guitar
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1ABvwLJT44oSwGtwgv5pRN2VK3exhXbYS"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 Take Good Care Of My Baby – Komplettes Arrangment ZIP
        </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=18g2WPwbOY2IS5OZzG2t0f24IBQq-QKzi"
        class="cta-button"
        target="_blank"
        rel="noopener">
        🎵 Take Good Care Of My Baby – Mastering
      </a>
    </li>
  </ul>
  <h2>Hinweise</h2>

  <ul>
    <li>Einmal gekauft – dauerhaft verfügbar</li>
    <li>Keine Abo-Falle</li>
    <li>Nur für dich persönlich lizenziert</li>
  </ul>
</BaseLayout>
