---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Download: The A Team – Guitar Arrangement";
const description = "Hier kannst du dein gekauftes Arrangement herunterladen.";
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  ogType="article"
>

  <h1>Dein Download</h1>

  <p>
    Danke für deinen Kauf! Hier kannst du dein Arrangement herunterladen.
  </p>

  <h2>Download</h2>

  <ul>
    <li>
      <a href="/notes/The%20A%20Team%20-%20Guitar%20I.pdf" download  class="cta-button">
        📄 The A Team – Noten & Tabulatur
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=14wUb8Gjs6u4_-QygGidhtq44SOypl2aY"
        class="cta-button"
        target="_blank"
        rel="noopener">
        📄 The A Team – Guitar II
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1Y0URvJKCg_x4OYqIXEgPetejz4YV2qMu"
        class="cta-button"
        target="_blank"
        rel="noopener">
        📄 The A Team – Solo Gitarre
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1oI9ebkduF_DguvPkwcxDsH-C_z6WVRLV"
        class="cta-button"
        target="_blank"
        rel="noopener">
        📄 The A Team – Bass Noten
      </a>
    </li>
  </ul>

  <h2>Hinweise</h2>

  <ul>
    <li>Einmal gekauft – dauerhaft verfügbar</li>
    <li>Keine Abo-Falle</li>
    <li>Nur für dich persönlich lizenziert</li>
  </ul>

</BaseLayout>