---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Download: Vincent – Guitar Arrangement";
const description = "Hier kannst du dein gekauftes Arrangement herunterladen.";
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  ogType="article"
  bodyAttributes={{
    "data-product-id": "VINC-001"
  }}
>

  <h1>Dein Download</h1>

  <p>
    Danke für deinen Kauf! Hier kannst du dein Arrangement herunterladen.
  </p>

  <h2>Download</h2>

  <ul>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1zv-PpF8L6I6IX-eEnWc2M3jH7w6e8xcp"  class="cta-button">
        📄 Vincent – Noten & Tabulatur
      </a>
    </li>
    <li>
      <a href="https://drive.google.com/uc?export=download&id=1Yj9WMxOhoPViUNYdtxwKx8twUYDVsMa4" class="cta-button">
        📄 Vincent – Lead Sheet
      </a>
    </li>
  </ul>

  <h2>Hinweise</h2>

  <ul>
    <li>Einmal gekauft – dauerhaft verfügbar</li>
    <li>Keine Abo-Falle</li>
    <li>Nur für dich persönlich lizenziert</li>
  </ul>

  <script src="/scripts/purchase.js" defer></script>

</BaseLayout>