<section id="reflections-of-my-life" class="song">
  <h2>Reflections Of My Life</h2>
  <p class="pdf-download">
    <a href="/notes/Reflections%20Of%20My%20Life%20-%20Guitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/15P4Kk9rSAXwO12runsOX51XkK7anbnd4/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=15P4Kk9rSAXwO12runsOX51XkK7anbnd4"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1BkaAMG6LrRyPS7zt2i-9Y_sq0xZ4wpT1"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Reflections%20Of%20My%20Life%20-%20Guitar.pdf"
    title="Reflections Of My Life – Noten"
    loading="lazy"></iframe>
</section>
<section id="father-and-son" class="song">
  <h2>Father And Son</h2>
  <p class="pdf-download">
    <a href="/notes/Father%20And%20Son%20-%20Steelguitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1ZDtUry4v8hGmr3KC74Hch5JajwTGSy5d/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1ZDtUry4v8hGmr3KC74Hch5JajwTGSy5d"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1gLcyijDBQZ6ldpV2LV_3QhCYlsBOMQNn"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Father%20And%20Son%20-%20Steelguitar.pdf"
    title="Father And Son – Noten"
    loading="lazy"></iframe>
</section>
<section id="here-comes-the-sun" class="song">
  <h2>Here Comes The Sun</h2>
  <p class="pdf-download">
    <a href="/notes/Here%20Comes%20The%20Sun%20-%20Guitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1Jep6vcfG6asmW-fuhx-JIzBsyg9SXfD2/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1Jep6vcfG6asmW-fuhx-JIzBsyg9SXfD2"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1m8kscMvEoY036uuJMGVNIEsZ44eXNWTL"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Here%20Comes%20The%20Sun%20-%20Guitar.pdf"
    title="Here Comes The Sun – Noten"
    loading="lazy"></iframe>
</section>
<section id="you-keep-me-hanging-on" class="song">
  <h2>You Keep Me Hanging On</h2>
  <p class="pdf-download">
    <a href="/notes/You%20Keep%20Me%20Hanging%20On%20-%20SteelGuitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1l55ZWpqmcEqDTGg-AFUcm5e1gHU8iZ0Q/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1l55ZWpqmcEqDTGg-AFUcm5e1gHU8iZ0Q"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1hzQYUXZtRoDrIeLKRqjdY7tY-1t5Jb0T"
      >▶ + Bass Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/You%20Keep%20Me%20Hanging%20On%20-%20SteelGuitar.pdf"
    title="You Keep Me Hanging On – Noten"
    loading="lazy"></iframe>
</section>
<section id="now-and-forever" class="song">
  <h2>Now And Forever</h2>
  <p class="pdf-download">
    <a href="/notes/Now%20And%20Forever%20-%20Richard%20Marx.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/11OrAV9DD5VftXFa-juaWiRh5GeX-PqbO/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=11OrAV9DD5VftXFa-juaWiRh5GeX-PqbO"
      >▶ Audio downloaden</a
    >
  </div>
  <iframe
    src="/notes/Now%20And%20Forever%20-%20Richard%20Marx.pdf"
    title="Now And Forever – Noten"
    loading="lazy"></iframe>
</section>
<section id="the-lion-sleeps-tonight" class="song">
  <h2>The Lion Sleeps Tonight</h2>
  <p class="pdf-download">
    <a href="/downloads/The_Lion_Sleeps_Tonight-Guitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1pkqjhxPOsHr11_GqVvfs_T0Cja7tOFth/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1pkqjhxPOsHr11_GqVvfs_T0Cja7tOFth"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=166R3_UaVG6yn5Ezs80jgEiMdoSE2pZ_I"
      >▶ + Bass Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/downloads/The_Lion_Sleeps_Tonight-Guitar.pdf"
    title="The Lion Sleeps Tonight – Noten"
    loading="lazy"></iframe>
</section>
<section id="tears-in-heaven" class="song">
  <h2>Tears In Heaven</h2>
  <p class="pdf-download">
    <a href="/notes/Tears%20In%20Heaven%20-%20Eric%20Clapton.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1AERGWKJa3Uz00Ss-8KMIh29OA_Te5pvd/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1AERGWKJa3Uz00Ss-8KMIh29OA_Te5pvd"
      >▶ Audio downloaden</a
    >
  </div>
  <iframe
    src="/notes/Tears%20In%20Heaven%20-%20Eric%20Clapton.pdf"
    title="The Lion Sleeps Tonight – Noten"
    loading="lazy"></iframe>
</section>
<section id="silence-is-golden" class="song">
  <h2>Silence Is Golden</h2>
  <p class="pdf-download">
    <a href="/downloads/Silence_Is_Golden-SteelGuitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1bAbOp-Zf8rTJIAse9DKssDKsKR3E9Qka/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1bAbOp-Zf8rTJIAse9DKssDKsKR3E9Qka"
      >▶ Audio downloaden</a
    >
  </div>
  <iframe
    src="/downloads/Silence_Is_Golden-SteelGuitar.pdf"
    title="Silence Is Golden – Noten"
    loading="lazy"></iframe>
</section>
