<section id="reflections-of-my-life" class="song">
  <h2>Reflections Of My Life</h2>
  <p class="pdf-download">
    <a href="/notes/Reflections%20Of%20My%20Life%20-%20Guitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/15P4Kk9rSAXwO12runsOX51XkK7anbnd4/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=15P4Kk9rSAXwO12runsOX51XkK7anbnd4"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1BkaAMG6LrRyPS7zt2i-9Y_sq0xZ4wpT1"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Reflections%20Of%20My%20Life%20-%20Guitar.pdf"
    title="Reflections Of My Life – Noten"
    loading="lazy"></iframe>
</section>
<section id="father-and-son" class="song">
  <h2>Father And Son</h2>
  <p class="pdf-download">
    <a href="/notes/Father%20And%20Son%20-%20Steelguitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1ZDtUry4v8hGmr3KC74Hch5JajwTGSy5d/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1ZDtUry4v8hGmr3KC74Hch5JajwTGSy5d"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1gLcyijDBQZ6ldpV2LV_3QhCYlsBOMQNn"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Father%20And%20Son%20-%20Steelguitar.pdf"
    title="Father And Son – Noten"
    loading="lazy"></iframe>
</section>
<section id="here-comes-the-sun" class="song">
  <h2>Here Comes The Sun</h2>
  <p class="pdf-download">
    <a href="/notes/Here%20Comes%20The%20Sun%20-%20Guitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1Jep6vcfG6asmW-fuhx-JIzBsyg9SXfD2/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1Jep6vcfG6asmW-fuhx-JIzBsyg9SXfD2"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1m8kscMvEoY036uuJMGVNIEsZ44eXNWTL"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Here%20Comes%20The%20Sun%20-%20Guitar.pdf"
    title="Here Comes The Sun – Noten"
    loading="lazy"></iframe>
</section>
<section id="you-keep-me-hanging-on" class="song">
  <h2>You Keep Me Hanging On</h2>
  <p class="pdf-download">
    <a href="/notes/You%20Keep%20Me%20Hanging%20On%20-%20SteelGuitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1l55ZWpqmcEqDTGg-AFUcm5e1gHU8iZ0Q/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1l55ZWpqmcEqDTGg-AFUcm5e1gHU8iZ0Q"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1hzQYUXZtRoDrIeLKRqjdY7tY-1t5Jb0T"
      >▶ + Bass Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/You%20Keep%20Me%20Hanging%20On%20-%20SteelGuitar.pdf"
    title="You Keep Me Hanging On – Noten"
    loading="lazy"></iframe>
</section>
<section id="now-and-forever" class="song">
  <h2>Now And Forever</h2>
  <p class="pdf-download">
    <a href="/notes/Now%20And%20Forever%20-%20Richard%20Marx.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/11OrAV9DD5VftXFa-juaWiRh5GeX-PqbO/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=11OrAV9DD5VftXFa-juaWiRh5GeX-PqbO"
      >▶ Audio downloaden</a
    >
  </div>
  <iframe
    src="/notes/Now%20And%20Forever%20-%20Richard%20Marx.pdf"
    title="Now And Forever – Noten"
    loading="lazy"></iframe>
</section>
<section id="the-lion-sleeps-tonight" class="song">
  <h2>The Lion Sleeps Tonight</h2>
  <p class="pdf-download">
    <a href="/downloads/The_Lion_Sleeps_Tonight-Guitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1pkqjhxPOsHr11_GqVvfs_T0Cja7tOFth/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1pkqjhxPOsHr11_GqVvfs_T0Cja7tOFth"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=166R3_UaVG6yn5Ezs80jgEiMdoSE2pZ_I"
      >▶ + Bass Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/downloads/The_Lion_Sleeps_Tonight-Guitar.pdf"
    title="The Lion Sleeps Tonight – Noten"
    loading="lazy"></iframe>
</section>
<section id="tears-in-heaven" class="song">
  <h2>Tears In Heaven</h2>
  <p class="pdf-download">
    <a href="/notes/Tears%20In%20Heaven%20-%20Eric%20Clapton.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1AERGWKJa3Uz00Ss-8KMIh29OA_Te5pvd/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1AERGWKJa3Uz00Ss-8KMIh29OA_Te5pvd"
      >▶ Audio downloaden</a
    >
  </div>
  <iframe
    src="/notes/Tears%20In%20Heaven%20-%20Eric%20Clapton.pdf"
    title="The Lion Sleeps Tonight – Noten"
    loading="lazy"></iframe>
</section>
<section id="silence-is-golden" class="song">
  <h2>Silence Is Golden</h2>
  <p class="pdf-download">
    <a href="/downloads/Silence_Is_Golden-SteelGuitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1bAbOp-Zf8rTJIAse9DKssDKsKR3E9Qka/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1bAbOp-Zf8rTJIAse9DKssDKsKR3E9Qka"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1_IFZOl7RCCNIqkeA0AcU1K7YGdG9rrvd"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/downloads/Silence_Is_Golden-SteelGuitar.pdf"
    title="Silence Is Golden – Noten"
    loading="lazy"></iframe>
</section>
<section id="sixteen-tons" class="song">
  <h2>Sixteen Tons</h2>
  <p class="pdf-download">
    <a href="/notes/Sixteen%20Tons%20-%20Guitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1L2Pu_XMT5AxLmCVkNMdIS9c9lHt75kwa/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1L2Pu_XMT5AxLmCVkNMdIS9c9lHt75kwa"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1vYbbO6qXOw4uu7MCIzB3eoZqw3Owmk_c"
      >▶ + Bass Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Sixteen%20Tons%20-%20Guitar.pdf"
    title="Sixteen Tons – Noten"
    loading="lazy"></iframe>
</section>
<section id="ruby" class="song">
  <h2>Ruby</h2>
  <p class="pdf-download">
    <a href="/notes/Ruby%20-%20Rhythmus%20Guitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1HxVpwVvMLJQOGghWr0LHFVSvKeuVLRPZ/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1HxVpwVvMLJQOGghWr0LHFVSvKeuVLRPZ"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1MTBpjWCk2GHm31lQ7nRw49AZe8TLVPUz"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Ruby%20-%20Rhythmus%20Guitar.pdf"
    title="Ruby – Noten"
    loading="lazy"></iframe>
</section>
<section id="mr-bo-jangles" class="song">
  <h2>Mr. Bo Jangles</h2>
  <p class="pdf-download">
    <a href="/notes/Mr.%20Bo%20Jangles.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/14uF7uv_AB29JFU8guqkK5-JKBJCaVgV6/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=14uF7uv_AB29JFU8guqkK5-JKBJCaVgV6"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1N10ipJ4UJ7KKs5hyW-DG04WcpGWEhF_r"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Mr.%20Bo%20Jangles.pdf"
    title="Mr. Bo Jangles – Noten"
    loading="lazy"></iframe>
</section>
<section id="if-i-fell" class="song">
  <h2>If I Fell</h2>
  <p class="pdf-download">
    <a href="/notes/If%20I%20Fell%20-%20Beatles.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1eBtHMGKd016n_ahexcqqcUTRVlXg0oVy/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1eBtHMGKd016n_ahexcqqcUTRVlXg0oVy"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1ix9uQndSrNHxuzvHHCVT6ox_jtbeuCeL"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/If%20I%20Fell%20-%20Beatles.pdf"
    title="If I Fell – Noten"
    loading="lazy"></iframe>
</section>
<section id="i-will-be-back" class="song">
  <h2>I'll Be Back</h2>
  <p class="pdf-download">
    <a href="/notes/I'll%20Be%20Back%20-%20Rhythmusguitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1kCyyYQGIUjYxmlThdiuNc2ujMuL9JID_/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1kCyyYQGIUjYxmlThdiuNc2ujMuL9JID_"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1n3ei1D11GssK_VjNTf6pqIev-7UbWNtb"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/I'll%20Be%20Back%20-%20Rhythmusguitar.pdf"
    title="I'll Be Back – Noten"
    loading="lazy"></iframe>
</section>
<section id="and-I-love-her" class="song">
  <h2>And I Love Her</h2>
  <p class="pdf-download">
    <a href="/notes/And%20I%20Love%20Her.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1_k_ctouL99oQUSJC7P6MLx1cHE9Xd7zJ/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1_k_ctouL99oQUSJC7P6MLx1cHE9Xd7zJ"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1LVFItZhrKszXMeYcmU3PK6DxeIaVRzqj"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/And%20I%20Love%20Her.pdf"
    title="And I Love Her – Noten"
    loading="lazy"></iframe>
</section>
<section id="behind-blue-eyes" class="song">
  <h2>Behind Blue Eyes</h2>
  <p class="pdf-download">
    <a href="/notes/Behind%20Blue%20Eyes.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1cpeuGRBVP0bdDNzw7F_6D9EW29mOgi4T/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1cpeuGRBVP0bdDNzw7F_6D9EW29mOgi4T"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1jlsiVr2XihYBvQuuAiFJB6ncdyw10QS4"
      >▶ Lead Sheet downloaden</a
    >
  </div>
  <iframe
    src="/notes/Behind%20Blue%20Eyes.pdf"
    title="Behind Blue Eyes – Noten"
    loading="lazy"></iframe>
</section>
<section id="homeward-bound" class="song">
  <h2>Homeward Bound</h2>
  <p class="pdf-download">
    <a href="/notes/Homeward%20Bound.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1lxBQFGg64QlzDhC2nqTex3g7-k8Td2Pi/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1lxBQFGg64QlzDhC2nqTex3g7-k8Td2Pi"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1gOdl3ODoYNtnPXk6wMNntHec0ValaHK-"
      >▶ Lead Sheet downloaden</a
    >
  </div>
  <iframe
    src="/notes/Homeward%20Bound.pdf"
    title="Homeward Bound – Noten"
    loading="lazy"></iframe>
</section>
<section id="maybe" class="song">
  <h2>Maybe</h2>
  <p class="pdf-download">
    <a href="/notes/Maybe.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1hMxpiL2QvpneG9Y7i_vjxtL6rbIfnkvq/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1hMxpiL2QvpneG9Y7i_vjxtL6rbIfnkvq"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1rSUlXIEMG29cmNZMFawStqDQdyitPJrd"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Maybe.pdf"
    title="Maybe – Noten"
    loading="lazy"></iframe>
</section>
<section id="where-to-you-go-to-my-lovely" class="song">
  <h2>Where Do You Go To My Lovely</h2>
  <p class="pdf-download">
    <a href="/notes/Where%20Do%20You%20Go.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1Py3VKQtth8DQh5VjnKfmZTdHTGbYPju8/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1Py3VKQtth8DQh5VjnKfmZTdHTGbYPju8"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=11IVSuSAsNsWj2AClWQVaiU1kdUk8zdNj"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Where%20Do%20You%20Go.pdf"
    title="Where To You Go To My Lovely – Noten"
    loading="lazy"></iframe>
</section>
<section id="real-love" class="song">
  <h2>Real Love</h2>
  <p class="pdf-download">
    <a href="/notes/Real%20Love.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/1FN09-h-0YssjAMLy1bTPn1aJWuHGoki3/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1FN09-h-0YssjAMLy1bTPn1aJWuHGoki3"
      >▶ Audio downloaden</a
    >
  </div>
  <iframe
    src="/notes/Real%20Love.pdf"
    title="Real Love – Noten"
    loading="lazy"></iframe>
</section>
<section id="catch-the-wind" class="song">
  <h2>Catch The Wind</h2>
  <p class="pdf-download">
    <a href="/downloads/Catch_The_Wind_Guitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="audio-links">
    <a
      href="https://drive.google.com/file/d/18JAKVjIbkGR30s_tcLlQUxtcfX0h4IHb/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=18JAKVjIbkGR30s_tcLlQUxtcfX0h4IHb"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="audio-links">
    <a
      href="https://drive.google.com/uc?export=download&id=1y-MttOQFxEHzbRft5YeNJ09AH8IiFkyp"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/downloads/Catch_The_Wind_Guitar.pdf"
    title="Real Love – Noten"
    loading="lazy"></iframe>
</section>


