<section id="reflections-of-my-life" class="song">
  <h2>Reflections Of My Life</h2>
  <p class="pdf-download">
    <a href="/notes/Reflectins%20Of%20My%20Life%20-%20Guitar.pdf" download>
      ⬇ Noten als PDF herunterladen
    </a>
  </p>
  <div class="pdf-download">
    <a
      href="https://drive.google.com/file/d/15P4Kk9rSAXwO12runsOX51XkK7anbnd4/preview"
      >▶ Play Along</a
    >
  </div>
  <div class="pdf-download">
    <a
      href="https://drive.google.com/uc?export=download&id=15P4Kk9rSAXwO12runsOX51XkK7anbnd4"
      >▶ Audio downloaden</a
    >
  </div>
  <div class="pdf-download">
    <a
      href="https://drive.google.com/uc?export=download&id=1BkaAMG6LrRyPS7zt2i-9Y_sq0xZ4wpT1"
      >▶ Komplettes Arrangment downloaden</a
    >
  </div>
  <iframe
    src="/notes/Reflections%20Of%20My%20Life%20-%20Guitar.pdf"
    title="Reflections Of My Life – Noten"
    loading="lazy"></iframe>
</section>