---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Schülerbereich">
  <article class="account-page">
    <!-- LOGIN-BEREICH -->
      
    <section id="login-box">
      <h1>🔐 Schülerbereich</h1>
      <p class="normal-links">Bitte Passwort eingeben:</p>

      <input
        type="password"
        id="password"
        placeholder="Passwort"
        autocomplete="off"
      />
      <button id="login-btn">Login</button>

      <p id="error" class="error hidden">❌ Falsches Passwort</p>
    </section>

    <!-- GESCHÜTZTER BEREICH -->
    <section id="content" class="hidden">
      <h1>🎸 Willkommen im geschützten Bereich</h1>

      <!-- Optionaler Logout-Button -->
      <button class="auth-logout" onclick="logout()">Logout</button>

      <!-- Geschützter Content -->
      <nav class="account-nav">
        <a href="/kundenlogin/account/songbook_2/" class="normal-links">
          📘 Songbooks
        </a>
      </nav>
      <p>Hier findest du exklusive Inhalte, die nur für eingeloggte Schüler zugänglich sind. Viel Spaß beim Stöbern!</p>
      <p>Auf Songbooks oben klicken und dann gehts weiter!</p>

        <h1>🎸 Mrs. Robinson - Simon & Garfunkel</h1>
        <div class="login-meta">
          <div class="meta-item">
            <a href="/bilder/Mrs_Robinson.pdf" download class="normal-links">
              🎵 Noten & Tabulatur
            </a>
          </div>

          <div class="meta-item">
            <span class="normal-links">anhören:</span>
            <a
              href="https://drive.google.com/file/d/1U4dS-86LBnzdtRdDx9zveySB3Kq-wP1k/preview"
              class="normal-links"
            >
              Play Along
            </a>
          </div>
          <h2>🎥 YouTube-Video</h2>
          <div class="video-container-wrapper thumbnail">
            <div class="video-container">
              <iframe
                src="https://www.youtube.com/embed/CwIlYKbqIPg?start=42"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <p>
            <a href="/zip_download/Mrs_Robinson.zip" class="normal-links"
              >download 4,97 MB</a
            >
          </p>
          <hr />
          <h2>🎸 A Horse With No Name - America</h2>

          <div class="meta-item">
            <a
              href="/downloads/A%20Horse%20With%20No%20Name.pdf"
              download
              class="normal-links"
            >
              🎵 Noten & Tabulatur
            </a>
          </div>

          <div class="meta-item">
            <span class="normal-links">anhören:</span>
            <a
              href="https://drive.google.com/file/d/1T3OteHiFfySNE0kv98e4WTFYPm4JaH6R/preview"
              class="normal-links"
            >
              Play Along
            </a>
          </div>

          <h2>🎥 YouTube-Video</h2>
          <div class="video-container-wrapper thumbnail">
            <div class="video-container">
              <iframe
                src="https://www.youtube.com/embed/2OTc4ZOsSSI?start=42"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <hr />
          </div>
        </div>
      </div>
    </section>

    <!-- Login Script -->
     
    <script src="/scripts/login.js" defer></script>
  </article>
</BaseLayout>
