---
import AccountLayout from "../../../layouts/AccountLayout.astro";
import { getPageUrl } from "../../../utils/getPageUrl.js";

// Hier die fehlende Variable definieren
const pageUrl = getPageUrl(Astro);
const pageTitle = "My E-Guitar Collection";
const description = "Geschützter Songbook-Bereich";
---

<AccountLayout
  pageTitle="My E-Guitar Collection"
  description="Geschütztes Songbook 2"
  href={pageUrl}
>
  <link rel="stylesheet" href="/styles/songbook_2.css" />

  <div class="songbook-hero">
    <img src="/images/Gretchgitarre.webp" alt="The Big E-Guitar Songbook Cover" />
    <div class="hero-overlay">
      <h1 id="top">{pageTitle}</h1>
      <p>E-Gitarren Stücke • Noten & Tabs • Play-Alongs</p>
    </div>
  </div>
  
  <p>
    <a
      href="/kundenlogin/account/"
      class="normal-links"
      aria-label="Zurück zum Schülerbereich"
    >
      Zurück zum Schülerbereich
    </a>
  </p>

  <!-- Logout-Button -->
  <div class="logout-container">
    <button class="auth-logout">Logout</button>
  </div>

  <main>
    <!-- ======================== -->
    <!-- SONGBOOK LAYOUT -->
    <!-- ======================== -->
    <p>
      Recht im Inhaltsverzeichnis die Titel auswählen. Die Noten werden dann
      auf der linken Seite angezeigt. Ganz rechts ist so ein blauer ovaler
      Button. Mit diesem Button kann man die website wieder ganz nach oben
      scrollen.
    </p>


    <div class="lesson-layout">
      <!-- Linke Spalte -->
      <div class="notes-column">
        <!-- Linke Spalte: Noten + Audio -->
        <div class="notes">
          <section id="all-along-the-watchtower" class="song">
            <h2>All Along The Watchtower</h2>
            <p class="pdf-download">
              <a href="https://drive.google.com/file/d/1gsXOJhavUqSZSlUzlx9U67EG2wVZ2Dhv/preview"
              >⬇ Noten Vorschau
              </a>
            </p>
            <div class="audio-links">
              <a
                href="https://drive.google.com/file/d/1UF2B44OeZVDeuztRuWF1xtfW7eKC6PDh/preview"
                >▶ Play Along</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1UF2B44OeZVDeuztRuWF1xtfW7eKC6PDh"
                >▶ Audio downloaden</a
              >
            </div>
            <p class="pdf-link">
              <a 
                href="https://drive.google.com/uc?export=download&id=1gsXOJhavUqSZSlUzlx9U67EG2wVZ2Dhv"
                target="_blank"
                rel="noopener">
                📄 Noten herunterladen
              </a>
            </p>
            <h2>🎥 YouTube-Video</h2>
            <div class="video-container-wrapper thumbnail">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/f44c3KYYtsg?start=42"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </section>
          <section id="if-6-was-9" class="song">
            <h2>If 6 Was 9</h2>
            <p class="pdf-download">
              <a href="https://drive.google.com/file/d/1DbTTDD6fRMKUXucJfIKCOmdYXCzwlIUT/preview"
              >⬇ Noten Vorschau
              </a>
            </p>
            <div class="audio-links">
              <a
                href="https://drive.google.com/file/d/1OH2pxd7LdJi-lsSg-h2YmSOkpwAgdlK0/preview"
                >▶ Play Along</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1OH2pxd7LdJi-lsSg-h2YmSOkpwAgdlK0"
                >▶ Audio downloaden</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1gG9A2GsO1fqhmPZXRIFpoIaRsfbZhzsK"
                >▶ + Bass Arrangment downloaden</a
              >
            </div>
            <p class="pdf-link">
              <a 
                href="https://drive.google.com/uc?export=download&id=1DbTTDD6fRMKUXucJfIKCOmdYXCzwlIUT"
                target="_blank"
                rel="noopener">
                📄 Noten herunterladen
              </a>
            </p>
          </section>
          
          <section id="all-you-need-is-love" class="song">
            <h2>All You Need Is Love</h2>
            <p class="pdf-download">
              <a href="https://drive.google.com/file/d/1Sw2nnL3f51sz4uNZPW9KYrDFO_buy7ad/preview"
              >⬇ Noten Vorschau
              </a>
            </p>
            <div class="audio-links">
              <a
                href="https://drive.google.com/file/d/1Xrlh0BEM9SkFppr6kcPNQsYg_fHkibKC/preview"
                >▶ Play Along</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1Xrlh0BEM9SkFppr6kcPNQsYg_fHkibKC"
                >▶ Audio downloaden</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1nHGg_lb0se4zhDHeWv-e5e7ihsrrjbOP"
                >▶ Komplettes Arrangment downloaden</a
              >
            </div>
            <!--
            <iframe
              src="https://drive.google.com/file/d/1GSGhDuWs5K_lh0KAyEF76IvjrS16lFmS/preview"
              title="Take Good Care Of My Baby – Noten"></iframe> -->

            <p class="pdf-link">
              <a 
                href="https://drive.google.com/uc?export=download&id=1GSGhDuWs5K_lh0KAyEF76IvjrS16lFmS"
                target="_blank"
                rel="noopener">
                📄 Noten herunterladen
              </a>
            </p>
          </section>
          <section id="come-together" class="song">
            <h2>Come Together</h2>
            <p class="pdf-download">
              <a href="https://drive.google.com/file/d/1EKNAFyeQPgiXxkqVlLxR2-H0IUosm2kM/preview"
              >⬇ Noten Vorschau
              </a>
            </p>
            <div class="audio-links">
              <a
                href="https://drive.google.com/file/d/1G-FxeCR1LyLAaHF8lJxeCMn5fnfe-S7d/preview"
                >▶ Play Along</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1G-FxeCR1LyLAaHF8lJxeCMn5fnfe-S7d"
                >▶ Audio downloaden</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1M-eXj8a8uv6v0qa8er85GLdwDoiJwUf2"
                >▶ Komplettes Arrangment downloaden</a
              >
            </div>
            <p class="pdf-link">
              <a 
                href="https://drive.google.com/uc?export=download&id=1EKNAFyeQPgiXxkqVlLxR2-H0IUosm2kM"
                target="_blank"
                rel="noopener">
                📄 Noten herunterladen
              </a>
            </p>
          </section>
          <section id="get-back" class="song">
            <h2>Get Back</h2>
            <p class="pdf-download">
              <a href="https://drive.google.com/file/d/1zdZIV1jtWqeMjinkb4M4xbOhsihFXfnh/preview"
              >⬇ Noten Vorschau
              </a>
            </p>
            <div class="audio-links">
              <a
                href="https://drive.google.com/file/d/1hmx9_z7klKKhHjSiC1dbYTX-2IXNEo4Y/preview"
                >▶ Play Along</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1hmx9_z7klKKhHjSiC1dbYTX-2IXNEo4Y"
                >▶ Audio downloaden</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1pfN6iKKsh-1TkSQL8qnimp4ZQ3CdBqi-"
                >▶ Komplettes Arrangment downloaden</a
              >
            </div>

            <p class="pdf-link">
              <a 
                href="https://drive.google.com/uc?export=download&id=1zdZIV1jtWqeMjinkb4M4xbOhsihFXfnh"
                target="_blank"
                rel="noopener">
                📄 Noten herunterladen
              </a>
            </p>
            <h2>🎥 YouTube-Video</h2>
            <div class="video-container-wrapper thumbnail">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/oI8Aw0IGM1I?start=42"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </section>
          <section id="baker-street" class="song">
            <h2>Baker Street</h2>
            <p class="pdf-download">
              <a href="https://drive.google.com/file/d/1VAR-EEdZb2P9y1cIxduG7X8jjYXARw6R/preview"
              >⬇ Noten Vorschau
              </a>
            </p>
            <div class="audio-links">
              <a
                href="https://drive.google.com/file/d/1Q-gzH2uoMKQVi36xPPDQ5m25sex_CL0k/preview"
                >▶ Play Along</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1Q-gzH2uoMKQVi36xPPDQ5m25sex_CL0k"
                >▶ Audio downloaden</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1RjcZC0fC-RVML57ggKt3HjvYllctsOHk"
                >▶ Komplettes Arrangment downloade</a
              >
            </div>
            <p class="pdf-link">
              <a 
                href="https://drive.google.com/uc?export=download&id=1VAR-EEdZb2P9y1cIxduG7X8jjYXARw6R"
                target="_blank"
                rel="noopener">
                📄 Noten herunterladen
              </a>
            </p>
            <h2>🎥 YouTube-Video</h2>
            <div class="video-container-wrapper thumbnail">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/Fo6aKnRnBxM?start=42"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </section>
          
          <section id="take-good-care-of-my-baby" class="song">
            <h2>Take Good Care Of My Baby</h2>
            <p class="pdf-download">
              <a href="https://drive.google.com/file/d/1GSGhDuWs5K_lh0KAyEF76IvjrS16lFmS/preview"
              >⬇ Noten Vorschau
              </a>
            </p>
            <div class="audio-links">
              <a
                href="https://drive.google.com/file/d/1ZFpf760L5VRlUhBSn3MIQ0Ij8114ar-S/preview"
                >▶ Play Along</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1ZFpf760L5VRlUhBSn3MIQ0Ij8114ar-S"
                >▶ Audio downloaden</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1ABvwLJT44oSwGtwgv5pRN2VK3exhXbYS"
                >▶ Komplettes Arrangment downloade</a
              >
            </div>
            <p class="pdf-link">
              <a 
                href="https://drive.google.com/uc?export=download&id=1GSGhDuWs5K_lh0KAyEF76IvjrS16lFmS"
                target="_blank"
                rel="noopener">
                📄 Noten herunterladen
              </a>
            </p>
            <h2>🎥 YouTube-Video</h2>
            <div class="video-container-wrapper thumbnail">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/NbEkJk-Ud58?start=42"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </section>
           <section id="ten-words" class="song">
            <h2>Ten Words</h2>
            <p class="pdf-download">
              <a href="https://drive.google.com/file/d/1Jtbo2Z_wgxuEzaFH-oSRG_v6odpK6q4T/preview"
              >⬇ Tab Vorschau
              </a>
            </p>
            <div class="audio-links">
              <a
                href="https://drive.google.com/file/d/1qOK0uBVYixUAwysHQYBbzfOIz80M7WYv/preview"
                >▶ Play Along</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1qOK0uBVYixUAwysHQYBbzfOIz80M7WYv"
                >▶ Audio downloaden</a
              >
            </div>
            <div class="audio-links">
              <a
                href="https://drive.google.com/uc?export=download&id=1OkxTSKDodYBm0-zWKd9xh8a3neg2BLj6"
                >▶ Backing Track downloaden</a
              >
            </div>
            <p class="pdf-link">
              <a 
                href="https://drive.google.com/uc?export=download&id=1Jtbo2Z_wgxuEzaFH-oSRG_v6odpK6q4T"
                target="_blank"
                rel="noopener">
                📄 Tab herunterladen
              </a>
            </p>
            <h2>🎥 YouTube-Video</h2>
            <div class="video-container-wrapper thumbnail">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/rsTXN6KK3Mg?start=42"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </section>
            
         
          
        </div> <!-- class notes -->
      </div> <!-- class notes-column -->
      <!-- Rechte Spalte: Inhaltsverzeichnis -->
      <aside class="content">
        <h3>Inhaltsverzeichnis</h3>
        <h4>Popmusik</h4>
        <a href="#all-along-the-watchtower">All Along The Watchtower - Jimi Hendrix</a>
        <a href="#if-6-was-9">If 6 was 9 - Jimi Hendrix</a>
        <a href="#all-you-need-is-love">All You Need Is Love - Beatles</a>
        <a href="#come-together">Come Together - Beatles</a>
        <a href="#get-back">Get Back - Beatles</a>
        <a href="#baker-street">Baker Steet - Gerry Rafferty</a>
        <a href="#take-good-care-of-my-baby">Take Good Care Of My Baby - Bobby Vee</a>
        <a href="#ten-words">Ten Words - Jo Satriani</a>
      </aside>
      <a href="#top" class="scroll-top" aria-label="Zurück nach oben">⬆</a>
    </div> <!-- class lesson-layout -->
  </main>
  
  <script src="/scripts/login.js" defer></script>
  <script src="/scripts/scroll-offset.js" defer></script>
</AccountLayout>
