<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Big Guitar Songbook</title>
    <link rel="stylesheet" href="/styles/songbook_2.css" />
  </head>

  <body>
    <h1>The Big Guitar Songbook</h1>
    <!-- Logout-Button -->
    <div class="logout-container">
      <button class="auth-logout">Logout</button>
    </div>

    <main>

      <!-- ======================== -->
      <!-- SONGBOOK LAYOUT -->
      <!-- ======================== -->
      <div class="lesson-layout">

        <!-- Linke Spalte: Noten + Audio -->
        <div class="notes">

          <section id="horse-with-no-name" class="song">
            <h2>A Horse With No Name</h2>
            <p class="pdf-download">
              <a href="/notes/a-horse-with-no-name.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1T3OteHiFfySNE0kv98e4WTFYPm4JaH6R/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1T3OteHiFfySNE0kv98e4WTFYPm4JaH6R">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1x3G1BbGAizvK-x2l79oUGCcgh6vB8t5i">▶ Komplettes Arrangment downloaden</a>
            </div>
            ><iframe
              src="/notes/a-horse-with-no-name.pdf"
              title="A Horse With No Name – Noten"
            ></iframe
          </section>

          <section id="mad-world" class="song">
            <h2>Mad World</h2>
            <p class="pdf-download">
              <a href="/notes/mad-world.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1WozzhiN9wT03zNZsaoj0Y61JX8XLg2Q2/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1WozzhiN9wT03zNZsaoj0Y61JX8XLg2Q2">▶ Audio downloaden</a>
            </div>
            <iframe
              src="/notes/mad-world.pdf"
              title="Mad World – Noten"
            ></iframe>
          </section>
          <section id="take-my-hand" class="song">
            <h2>Take My Hand</h2>
            <p class="pdf-download">
              <a href="/notes/Take%20My%20Hand%20-%20Rhythmusguitar.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1EYUZ_BfbuX00hvxhwxUdXIWupX8ZoRXG/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1EYUZ_BfbuX00hvxhwxUdXIWupX8ZoRXG">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1ax1xOXvbViB-dd2fcCR6T3JenoUqva0w">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/Take%20My%20Hand%20-%20Rhythmusguitar.pdf"
              title="Take My Hand – Noten"
            ></iframe>
          </section>
          <section id="while-my-guitar-gently-weeps" class="song">
            <h2>While My Guitar Gently Weeps</h2>
            <p class="pdf-download">
              <a href="/notes/While%20My%20Guitar%20-%20Rhythmus%20Guitar.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1op1xRvCbZVoW1u7e36dyvUikG_0dRGcF/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1op1xRvCbZVoW1u7e36dyvUikG_0dRGcF">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1XGGUpQjyT4Ez84RKeSfZn0F5m1YjcIN0">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/While%20My%20Guitar%20-%20Rhythmus%20Guitar.pdf"
              title="While My Guitar Gently Weeps – Noten"
            ></iframe>
          </section>
          <section id="do-you-want-to-know-a-secret" class="song">
            <h2>Do You Want To Know A Secret?</h2>
            <p class="pdf-download">
              <a href="/notes/Do%20You%20Want%20To%20Know%20A%20Secret%20-%20Beatles.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1Ogzaue8MOV5oyISfb2k3QXXWw8sWDXwe/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1Ogzaue8MOV5oyISfb2k3QXXWw8sWDXwe">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1gLsya2vZ3bIUyxxOedAuYmB9U9ELfjqB">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/Do%20You%20Want%20To%20Know%20A%20Secret%20-%20Beatles.pdf"
              title="Do You Want To Know A Secret – Noten"
            ></iframe>
          </section>
          <section id="gentle-on-my-mind" class="song">
            <h2>Gentle On My Mind</h2>
            <p class="pdf-download">
              <a href="/notes/Gentle%20On%20My%20Mind%20-%20Orginal%20Guitar.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1SueCAuNQJYCDLX0wD1qKsPvsWFhzmoXQ/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1SueCAuNQJYCDLX0wD1qKsPvsWFhzmoXQ">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1dUfJRPTrdPcJD5cJ8w3WzJGcDmbM42ng">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/Gentle%20On%20My%20Mind%20-%20Orginal%20Guitar.pdf"
              title="Gentle On My Mind – Noten"
            ></iframe>
          </section>
          <section id="1-2-3-4-I-Love-You" class="song">
            <h2>1,2,3,4 (I Love You)</h2>
            <p class="pdf-download">
              <a href="/notes/1-2-3-4-I-Love-You.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/15BydMAV6Hwd8nmBJeA7ygkqQWR1qG_4c/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=15BydMAV6Hwd8nmBJeA7ygkqQWR1qG_4c">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1y_T0MD8mZo8y3AwmrV0OBCwI1DjO_wwS">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/1-2-3-4-I-Love-You.pdf"
              title="1,2,3,4 (I Love You) – Noten"
            ></iframe>
          </section>
          <section id="heart-of-gold" class="song">
            <h2>Heart Of Gold</h2>
            <p class="pdf-download">
              <a href="/notes/Heart%20Of%20Gold.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/15lqe8sLjp6lNMC1Ddqp6mYR8BDuaCYKw/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=15lqe8sLjp6lNMC1Ddqp6mYR8BDuaCYKw">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1xzuHqjActqbBBbRo3JnFoL2GeSi0k8JV">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/Heart%20Of%20Gold.pdf"
              title="Heart Of Gold – Noten"
            ></iframe>
          </section>
          <section id="hey-hey-my-my" class="song">
            <h2>Hey Hey My My</h2>
            <p class="pdf-download">
              <a href="/notes/Hey%20Hey%20My%20My.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1GvsPYo8biUL9MzvjsVmir91HH6Z5B68o/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1GvsPYo8biUL9MzvjsVmir91HH6Z5B68o">▶ Audio downloaden</a>
            </div>
            <iframe
              src="/notes/Hey%20Hey%20My%20My.pdf"
              title="Hey Hey My My – Noten"
            ></iframe>
          </section>
          <section id="old-man" class="song">
            <h2>Old Man</h2>
            <p class="pdf-download">
              <a href="/notes/Old%20Man%20-%20Neil%20Young.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1JSpicEK49IG2VsWYPqFbUYWJyUmlJwMj/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1JSpicEK49IG2VsWYPqFbUYWJyUmlJwMj">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1V02o0NC7bEQ2zyOr9v4NgAUOPsIkQfB4">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/Old%20Man%20-%20Neil%20Young.pdf"
              title="Old Man – Noten"
            ></iframe>
          </section>
          <section id="hey-there-delilah" class="song">
            <h2>Hey There Delilah</h2>
            <p class="pdf-download">
              <a href="/notes/Hey%20There%20Delilah%20-%20Plain%20White%20Ts.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1kVVqLZhZ737cWB99xdY3fYttwVWoa0zA/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1kVVqLZhZ737cWB99xdY3fYttwVWoa0zA">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1lNqy2Y4COd17pg6RmeuMM6_ej3Nxlu74">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/Hey%20There%20Delilah%20-%20Plain%20White%20Ts.pdf"
              title="Hey There Delilah – Noten"
            ></iframe>
          </section>
          <section id="no-no-never" class="song">
            <h2>No No Never</h2>
            <p class="pdf-download">
              <a href="/notes/No%20No%20Never%20-%20Texas%20Lightning.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1asq5MeOWtJ-8Ldvto53NdXtjpV2MD9sv/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1asq5MeOWtJ-8Ldvto53NdXtjpV2MD9sv">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1xPl7EoVNhwdo6-pk1XF1Ihj6_hDDmM_q">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/No%20No%20Never%20-%20Texas%20Lightning.pdf"
              title="No No Never – Noten"
            ></iframe>
          </section>
          <section id="hotel-california" class="song">
            <h2>Hotel California</h2>
            <p class="pdf-download">
              <a href="/notes/Hotel_California_Guitar_1.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1pHZGuOhAcuZ_m2-JXgYRokiH-mbK00rm/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1pHZGuOhAcuZ_m2-JXgYRokiH-mbK00rm">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1v75KY6b8XUqLa61BJKHpy8hx4ziIHdnL">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/Hotel_California_Guitar_1.pdf"
              title="Hotel California – Noten"
            ></iframe>
          </section>

          

          <!-- Weitere Songs hier unten einfügen -->
        </div>

        <!-- Rechte Spalte: Inhaltsverzeichnis -->
        <aside class="content">
          <h3>Inhaltsverzeichnis</h3>
          <h4>Popmusik</h4>
          <a href="#horse-with-no-name">A Horse With No Name - America</a>
          <a href="#mad-world">Mad World - Gary Jules</a>
          <a href="#while-my-guitar-gently-weeps">While My Guitar Gently Weeps - George Harrison</a>
          <a href="#do-you-want-to-know-a-secret">Do You Want To Know A Secret? - Beatles</a>
          <a href="#1-2-3-4-I-Love-You">1,2,3,4 (I Love You) - Plain White T's</a>
          <a href="#heart-of-gold">Heart Of Gold - Neil Young</a>
          <a href="#hey-hey-my-my">Hey Hey My My - Neil Young</a>
          <a href="#old-man">Old Man - Neil Young</a>
          <a href="#the-a-team">The A Team - Ed Sheeran</a>
          <a href="#hey-there-delilah">Hey There Delilah - Plain White T's</a>
          <a href="#hotel-california">Hotel California - Eagles</a>
          <h4>Country & Western</h4>
          <a href="#take-my-hand">Take My Hand - Smokestack - Lightning</a>
          <a href="#no-no-never">No No Never - Texas Lightning</a>
          <h4>Folk-Country, 1967</h4>
          <a href="#gentle-on-my-mind">Gentle On My Mind - Glenn Campell</a>
          <!-- Weitere Songs hier hinzufügen -->

        </aside>

      </div>
      <!-- ======================== -->

    </main>
    <script src="/scripts/login.js" defer></script>
    <script src="/scripts/scroll-offset.js" defer></script>
  </body>
</html>