<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Big Guitar Songbook</title>
    <link rel="stylesheet" href="/styles/songbook_2.css" />
  </head>

  <body>
    <h1>The Big Guitar Songbook</h1>
    <!-- Logout-Button -->
    <div class="logout-container">
      <button class="auth-logout">Logout</button>
    </div>

    <main>

      <!-- ======================== -->
      <!-- SONGBOOK LAYOUT -->
      <!-- ======================== -->
      <div class="lesson-layout">

        <!-- Linke Spalte: Noten + Audio -->
        <div class="notes">

          <section id="horse-with-no-name" class="song">
            <h2>A Horse With No Name</h2>
            <p class="pdf-download">
              <a href="/notes/a-horse-with-no-name.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1T3OteHiFfySNE0kv98e4WTFYPm4JaH6R/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1T3OteHiFfySNE0kv98e4WTFYPm4JaH6R">▶ Audio downloaden</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1x3G1BbGAizvK-x2l79oUGCcgh6vB8t5i">▶ Komplettes Arrangment downloaden</a>
            </div>
            <iframe
              src="/notes/a-horse-with-no-name.pdf"
              title="A Horse With No Name – Noten"
            ></iframe>
          </section>

          <section id="mad-world" class="song">
            <h2>Mad World</h2>
            <p class="pdf-download">
              <a href="/notes/mad-world.pdf" download>
                ⬇ Noten als PDF herunterladen
              </a>
            </p>
            <div class="pdf-download">
              <a href="https://drive.google.com/file/d/1WozzhiN9wT03zNZsaoj0Y61JX8XLg2Q2/preview">▶ Play Along</a>
            </div>
            <div class="pdf-download">
              <a href="https://drive.google.com/uc?export=download&id=1WozzhiN9wT03zNZsaoj0Y61JX8XLg2Q2">▶ Audio downloaden</a>
            </div>
            <iframe
              src="/notes/mad-world.pdf"
              title="Mad World – Noten"
            ></iframe>
          </section>

          <!-- Weitere Songs hier unten einfügen -->
        </div>

        <!-- Rechte Spalte: Inhaltsverzeichnis -->
        <aside class="content">
          <h3>Inhaltsverzeichnis</h3>
          <h4>Popmusik</h4>
          <a href="#horse-with-no-name">A Horse With No Name - America</a>
          <a href="#mad-world">Mad World - Gary Jules</a>
          <!-- Weitere Songs hier hinzufügen -->

        </aside>

      </div>
      <!-- ======================== -->

    </main>
    <script src="/scripts/login.js" defer></script>
  </body>
</html>