---

---

<!--footer-->
<footer class="endfooter">
  <ul class="navigation-links">
    <li>
      <a href="/datenschutz/" class="normal-links">Datenschutzerklärung</a>
    </li>
    <li><a href="/impressum/" class="normal-links">Impressum</a></li>
  </ul>
  <div>&copy; 2026 by Musikstudio Ziebart. All rights reserved.</div>
</footer>

